.octocat img {
	width: 445px;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
}

.authors img {
	width: 25px;
	border: none;
}

.octocat {
	float: left;
	
}

.authors {
	float: right;	
}

ul {
	list-style: none;
}

.image-number:before{
	content: "#";
}
