ul {
	list-style: none;
}

.octodex {
	font-family: sans-serif;
	font-weight: bold;
	color: #cfcfcf;
}

.octocat {
	float: left;
	margin-right: 15px;
	
}

.octocat img {
	width: 414px;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	
}

.image-footer {
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 8px;
	width: 414px;
	height: 50px;
}

div.image-footer {

}

.image-number:before{
	content: "#";	
}

.image-number {
	float: left;	
}

div.image-caption {
	width: 280px;
	float: right;

}
	
ul.authors {
	padding-left: 0;
	display: inline-block;
	vertical-align: middle;
}	

.authors img {
	width: 25px;
	border: none;
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
}


