ul {
	list-style: none;
}

.octodex {
	font-family: sans-serif;
	font-weight: bold;
	color: #cfcfcf;
}

.octocat img {
	width: 400px;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	margin: 10px;
}

.image-footer {
	border-bottom: 1px solid #cfcfcf;
}

.authors img {
	width: 25px;
	border: none;
	margin: 0;
}

.image-number:before{
	content: "#";
}

.octocat {
	float: left;
	
}

.authors {
	float: right;	
}

.image-capture {
	float:right;
}

a {
	color: black;
	text-decoration: none;
}
